body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* Header part starts  */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/donation4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-part h1{
    font-size: 50px;
}
.banner-part {
    color: white;
    padding: 200px 0px;
    width: 58%;
    margin-left: 120px;
    margin-left: 250px;
    text-align: center;
}
.link{
    text-decoration: none;
    background-color: #FF5959;
    padding: 8px 14px;
    color: white;
    border-radius: 3px;
}
/* Header part ends  */


/* Amount part starts */
.amount-heading{
    text-align: center;
    width: 58%;
    margin-left: 120px;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 50px;
}
.amount-heading h2{
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 0px;
}
.amount-number{
    display:flex;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.amount-one {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    padding: 10px 18px;
    border-radius: 8px;
    margin: 0 15px;
    color: #707070;
}
.amount-two {
    color: red;
    background: #FFEEEE;
    border: 1px solid red;
    padding: 10px 18px;
    border-radius: 8px;
    margin: 0 15px;
}

.amount-end{
    text-align: center;
    color: #707070;
    font-size: 12px;
    margin-top: 50px
}
.button a{
    text-decoration: none;
    background-color: #FF5959;
    padding: 8px 14px;
    color: white;
    border-radius: 3px;
    text-align: center;

}
.horizontal{
    text-align: center;
    margin: 0 250px 120px 250px;
}
/* Amount part ends */



/* Donation part starts  */
.donate-plan{
    text-align: center;
}
.donation-part{
    display: flex;
    margin-bottom: 100px;
}
#donation-one{
    width: 25%;
    margin-left: 4%;
    background:#EDF5F6;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
}
#donation-two{
    width: 25%;
    margin-left: 5%;
    background:#FFEEEE;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
}
#donation-three{
    width: 25%;
    margin-left: 5%;
    background:#FFF4D6;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
}
/* Donation part ends  */


/* Relief-and-food-section starts  */
.first-part{
    display: flex;
    margin-bottom: 200px;
}
.food img{
    width: 100%;
}
.food{
    box-shadow: 10px 10px 40px #888888;
    border: 5px solid white;
    border-radius: 20px;
    margin-right: 60px;
    text-align: center;
}
.food-part-heading{
    text-align: center;
    padding-top: 40px;
}
.food-portion{
    margin-left: 80px;
    padding: 10px;
}
.menu-part{
    text-align: left;
}
/* Relief-and-food-section Ends  */


/* Contact Part starts */
.contact-part{
    margin-bottom: 100px;
}
.contact{
    background: #FFF4D6;
    padding: 100px 100px;
    display: flex;
    margin: auto;
    width: 50%;
}
.contact input{
    margin-left: 150px;
}
/* Contact Part Ends */


/* Footer section starts */
footer {
    text-align: center;
    background-color: black;
    color: #FF5959;
    padding: 20px;
}
footer h2{
    font-family: 'Lobster', cursive;
}
footer p{
    color: #707070;
}
/* Footer section ends */





